# FHIR IG Publisher local build directories #
#############################################
temp
template
output
input-cache
local-template

# Don't track publisher #
###########################################
/input-cache/publisher.jar
